<center>
<div class="well titulo-top">
  <h1>Morphing</h1>
      <input id="titulo" type="text" hidden="hidden" name="" value="morph">
</div>
<div class="well-small" style="margin-bottom:3%;">
  <h2 style="padding-left:3%;" id="subtitulo">Ejemplos demostrativos</h2>
</div></center>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">
            <center>
              <img src="../../resources/imgs/morph/gifs/basket.gif" alt="" width="300">
            </center>

          </div>


          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/morph/gifs/dog.gif" alt="" width="300">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/morph/gifs/eyes.gif" alt="" width="300">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/morph/gifs/mona.gif" alt="" width="300">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/morph/gifs/presidents.gif" alt="" width="300">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/morph/gifs/shapes.gif" alt="" width="300">
            </center>

          </div>



          <div style="height:100px;">

          </div>
