<center>
  <div class="well titulo-top">
    <h1>Morphing</h1>
        <input id="titulo" type="text" hidden="hidden" name="" value="morph">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Tecnicas</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:7%;">
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
El morphing se divide principalmente en dos categorías: de distorsión y de transición, aunque algunos autores consideran otra categoría denominada cross-dissolving
      </div>

<hr>

      <h2 class="blanco">Distorsión</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        El morphing de distorsión únicamente utiliza una sola imagen, la cual es comprimida y estirada como si esta imagen estuviese impresa sobre una superficie elástica y de esta forma se puede dar la ilusión de movimiento. El nombre técnico que se le da a este tipo de morphing  es warping
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img id="imagen" src="../../resources/imgs/morph/tecnicas/distorsion.gif" alt="" width="300">
      </div>

      <hr>

      <h2 class="blanco">Transición</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        El morphing de transición se refiere a la transformación de una imagen en otra completamente diferente y utiliza técnicas de desvanecimiento entre ambas imágenes. El tecnicismo utilizado para describir este tipo de morphing es tweening, el cual es una abreviación de in-betweening. Claramente, el tweening no es otra cosa más que la interpolación de 2 imágenes para crear una animación más suave.
    </div>
    <div class="background-blanco negro img-inner round-border imagen-descriptiva">
      <img id="imagen" src="../../resources/imgs/morph/tecnicas/transicion.gif" alt="" width="300">
    </div>


    <div style="height:100px;">

    </div>
  </center>

  <div class="bottom" text-align="center">

    <div class="" align="right" style="margin-right:15%;">
      <img id="atras" src="../../resources/imgs/nav/back.png" alt="" width="60">
  <!--          <button class="btn btn-large btn-negative">
        Salir
    </button>
  -->
  </div>

  </div>
