<center>
  <div class="well titulo-top">
    <h1>Morphing</h1>
    <input id="titulo" type="text" hidden="hidden" name="" value="morph">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Introducción</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:7%;">
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
 ¿Qué es el morphing? Morphing es una abreviatura del anglicismo metamorphosing, el cual a su vez proviene del prefijo griego meta que significa además, más alla, después, y de la palabra griega morphe que a su vez significa forma: Mientras que el estudio de formas y contornos se conoce como morfología, el morphing ha sido definido como la transformación de formas vía técnicas digitales.      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img id="imagen" src="../../resources/imgs/morph/intro.gif" alt="" width="300">
      </div>

      <hr>
      <h2 class="blanco">El morphing a lo largo de la historia</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
La combinación de técnicas tales como las de distorsión de imágenes, interpolación entre dos imágenes dadas y mapeos de textura originaron que a principios de los 80's T. Brigham and P. Heckbert desarrollaran una sucesión de transformación de imágenes en el New York Institute of -rechnology Computer Graphics Laboratory. En el proyecto en el cual ellos estaban concentrados era en la transformación de una mujer en un lince. Estas imágenes fueron premiadas en el año 1982 en la convención del SIGGRAPH.</div>


      <div style="height:100px;">

      </div>
    </div>
  </center>
