<center>
  <div class="well titulo-top">
    <h1>Morphing</h1>
    <input id="titulo" type="text" hidden="hidden" name="" value="morph">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Videos demostrativos</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:7%;">
      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Animación por Morphing parte 1</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/morph/morphing-animation1.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>

      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Animación por Morphing parte 2</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/morph/morphing-animation2.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>

      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Bio Morph</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/morph/bio-morph.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>

      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Morphing Natural</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
           <source src="../../resources/videos/morph/nature-morph.mp4" type="video/mp4">
              Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>


      <div style="height:100px;">

      </div>
    </div>
  </center>
