<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Links</title>
		<link type='text/css' rel='stylesheet' href='../css/custom.css'/>
	</head>
	<body class="background-green">
		<div id='inner'>
			<center>
				<h1 class="blanco">Glosario</h1>
			</center>

      <div class="round-border background-blanco negro">

				<h2 style="font-size:28px;" class="background-wine blanco">General</h2>

        <div class="well-small-2">
          <h2 >FOTOGRAMA:</h2>
        </div>
        <div id="texto-inner" class="links">
          Un fotograma es cada una de las imágenes impresas químicamente en la tira de celuloide del cinematógrafo o bien en la película fotográfica.
        </div>
        <hr>
        <div class="well-small-2">
          <h2 >MOTOR GRAFICO:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Es un software creado con la finalidad de desarrollar videojuegos.
        </div>

        <hr>

        <div class="well-small-2">
          <h2 >CODECS:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Abreviatura de codificador – decodificador, archivos multimedia que contienen tanto datos de audio como de video y una referencia que permite la sincronización del audio y el video.
        </div>

        <hr>

        <div class="well-small-2">
          <h2 >KEYFRAMES:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Puntos en los que se realiza un cambio del estado en que se encuentra el objeto, como un cambio de posición, de dirección de tamaño o un cambio en los parámetros propios del objeto en relación a su estado anterior.
        </div>

        <hr>

        <div class="well-small-2">
          <h2 >DRIVER:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Un controlador de dispositivo o manejador de dispositivo (en inglés: device driver, o simplemente driver)​ es un programa informático que permite al sistema operativo interaccionar con un periférico.
        </div>

        <hr>

        <div class="well-small-2">
          <h2 >MS:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Abreviatura de milisegundos.
        </div>

        <hr>

        <div class="well-small-2">
          <h2 >SW:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Abreviatura de software.
        </div>

        <hr>
        <div class="well-small-2">
          <h2 >SPRITES:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Imágenes de mapa de bits que son dibujados en pantalla, sin la necesidad de exigirle un procesamiento adicional a la CPU.
        </div>

        <hr>

        <div class="well-small-2">
          <h2 >TEXTURIZAR:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Forma más común de emplear el término de mapear una textura.
        </div>

        <hr>

        <div class="well-small-2">
          <h2 >HD:</h2>
        </div>
        <div id="texto-inner" class=" background-blanco links round-border">
          Del inglés High Definition, alta definición.
        </div>

		<h2 style="font-size:28px;" class="background-wine blanco">Animación 2D</h2>


		<div class="well-small-2">
			<h2 >POR CAPAS:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
			Tecnica donde el fondo de una imagen se mueve en cámara más lentamente que sus planos cercanos
		</div>

			<center>
				<img id="imagen" src="../resources/imgs/glosario/capas.gif" alt="" width="120" border="2">
			</center>

		<hr>

		<div class="well-small-2">
			<h2 >POR COTAS:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
			Tecnica que consiste en basar el movimiento en unos fotogramas fundamentales.
		</div>
		<center>
			<img id="imagen" src="../resources/imgs/glosario/cotas.gif" alt="" width="160" border="2">
		</center>


		<hr>
		<div class="well-small-2">
			<h2 >STOP MOTION:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
			  Tecnica donde se usan objetos, muñecos, marionetas, figuras de plastilina, carros, persona, o otros materiales.
		</div>

		<center>
			<img id="imagen" src="../resources/imgs/glosario/stop.gif" alt="" width="150" border="2">
		</center>


		<hr>
		<div class="well-small-2">
			<h2 >PIXELACIÓN:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
				Tecnica donde se ilustra en un libro o cuaderno una serie de imágenes.
		</div>

		<center>
			<img id="imagen" src="../resources/imgs/glosario/pixelacion.gif" alt="" width="150" border="2">
		</center>


		<hr>
		<div class="well-small-2">
			<h2 >ANIMACIÓN TRADICIONAL:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
				Tecnica donde se ilustran cuadros individualmente, que al ser vistos de manera consecutiva forman una animación.
		</div>

		<center>
			<img id="imagen" src="../resources/imgs/glosario/tradicional.gif" alt="" width="150" border="2">
		</center>


		<h2 style="font-size:28px;" class="background-wine blanco">Animación 3D</h2>

		<div class="well-small-2">
			<h2 >ROTOSCOPIA:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
				Esta tecnica consiste en capturar un movimiento real, y utilizar esa información para mover un diseño generado por ordenador.
		</div>
		<center>
			<img id="imagen" src="../resources/imgs/glosario/rotoscopia.gif" alt="" width="150" border="2">
		</center>


		<hr>

		<div class="well-small-2">
			<h2 >MODELO DE ESQUELETOS:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
				Tecnica de modelos formados por una única malla poligonal o por múltiples objetos.
		</div>
		<center>
			<img id="imagen" src="../resources/imgs/glosario/esqueletos.gif" alt="" width="150" border="2">
		</center>


		<hr>

		<div class="well-small-2">
			<h2 >ANIMACIÓN DE RECORTES:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
			En esta técnica se usan figuras recortadas, ya sea de papel o incluso fotografías.
		</div>
		<center>
			<img id="imagen" src="../resources/imgs/glosario/recortes.gif" alt="" width="150" border="2">
		</center>


		<hr>

		<div class="well-small-2">
			<h2 >ANIMACIÓN DIGITAL:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
			Tecnica realizada solamente con softwares especializados como Flash.
		</div>
		<center>
			<img id="imagen" src="../resources/imgs/glosario/digital.gif" alt="" width="150" border="2">
		</center>


		<h2 style="font-size:28px;" class="background-wine blanco">Morphing</h2>

		<div class="well-small-2">
			<h2 >DISTORSIÓN:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
			Esta tecnica utiliza únicamente una sola imagen, la cual es comprimida y estirada.
		</div>

		<center>
			<img id="imagen" src="../resources/imgs/glosario/distorsion.gif" alt="" width="150" border="2">
		</center>


		<hr>

		<div class="well-small-2">
			<h2 >TRANSICIÓN:</h2>
		</div>
		<div id="texto-inner" class=" background-blanco links round-border">
			Esta tecnica transforma una imagen en otra completamente diferente.
		</div>
		<center>
			<img id="imagen" src="../resources/imgs/glosario/transicion.gif" alt="" width="180"  border="2">
		</center>



      </div>



			<div class="bottom" text-align="center">

		    <div class="" align="right" style="margin-right:5%;">
		      <img id="atras" src="../resources/imgs/nav/back.png" alt="" width="60">
		  <!--          <button class="btn btn-large btn-negative">
		        Salir
		    </button>
		  -->
		  </div>

		  </div>

    	</div>

		<script type='text/javascript' src='../js/jquery-1.9.min.js'></script>
		<script type="text/javascript" src='questions.json'></script>
		<script type='text/javascript' src='../js/quiz.js'></script>

		<script>

	    var ipcRenderer = require('electron').ipcRenderer;
	    var btnAtras = document.querySelector('#atras')

	    btnAtras.addEventListener('click', function (e) {
	     e.preventDefault()
	     ipcRenderer.send('atras')
	    })


	  </script>

	</body>
</html>
