<center>
  <div class="well titulo-top">
    <h1>Animación 2D</h1>
    <input id="titulo" type="text" hidden="hidden" name="" value="2d">
  </div>
  <div class="well-medium" style="margin-bottom:3%;">
    <h2 id="subtitulo">Crear animación utilizando animación por cuadros clave</h2>
  </div>

    <!-- Contenido interior-->
    <b class="blanco font-subtitulo"><p>Sofware a utilizar: </p></b><p class="blanco font-subtitulo">Adobe Flash</p>

    <div class="" style="margin-left:7%;">
            <h2 class="blanco">1.- Dibujamos los keyframes que utilizaremos.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/2d/crear/1.png" alt="" width="600">
          <hr>
          <img id="imagen" src="../../resources/imgs/2d/crear/2.png" alt="" width="600">
        </center>
      </div>

      <h2 class="blanco">2.- Agregamos detalle al bosquejo.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/2d/crear/3.png" alt="" width="600">
          <hr>
          <img id="imagen" src="../../resources/imgs/2d/crear/4.png" alt="" width="600">
        </center>
      </div>

      <h2 class="blanco">3.- Animación completada.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/2d/crear/5.png" alt="" width="600">
        </center>
      </div>

      <hr>

      <center>
        <button id="res_2d" onclick="mostrar()" class="btn btn-default btn-lg" type="button" name="button">Ver resultado</button>
      </center>


      <div style="height:100px;">

      </div>
    </div>
  </center>
