<center>
  <div class="well titulo-top">
    <h1>Animación 2D</h1>
        <input id="titulo" type="text" hidden="hidden" name="" value="2d">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Tecnicas</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:7%;">
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        En la animación tradicional, la combinación de un lapicero y el arte del dibujante, se convierten en una herramienta de gran flexibilidad con la que se pueden lograr movimientos de notable realismo. El ordenador no es una herramienta tan flexible, pero tiene sus ventajas, y puede utilizarse para la creación de animaciones de muy diversas formas. A continuación se describen algunas de las técnicas más comunes.

      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img id="imagen" src="../../resources/imgs/2d/tecnicas.gif" alt="" width="280">
      </div>

      <hr>

      <h2 class="blanco">Por capas</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
El efecto (también llamado Parallax Scrolling) es un técnica usada en animación y videojuegos, pero también en diseño web, donde el fondo de una imagen se mueve en cámara más lentamente que sus planos cercanos, creando una ilusión de profundidad en 2D y añadiendo inmersión.

La técnica se originó aquí, en los estudios Disney en los años 30. Más tarde, se popularizó en juegos 2D como Moon Patrol y Jungle Hunt (1982).
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img id="imagen" src="../../resources/imgs/2d/tecnicas/capas.png" alt="" width="500">
      </div>

      <hr>


      <h2 class="blanco">Por cotas</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
La animación por cotas consiste en basar el movimiento en unos fotogramas fundamentales ("keyframes") y luego dejar que el sistema genere automáticamente los fotogramas intermedios mediante métodos de interpolación. Es importante que las cotas sean representativas del movimiento para que la interpolación tenga suficiente información.
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/2d/tecnicas/cotas.gif" alt="" width="480">
      </div>

      <hr>

      <h2 class="blanco">Stop Motion</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        Animación con objetos, muñecos, marionetas, figuras de plastilina, carros, persona, o otros materiales así como maquetas de modelos a escala. Se utiliza la grabación "fotograma a fotograma" o "cuadro a cuadro".
        El stop-motion es una técnica de animación que consiste en aparentar el movimiento de objetos estáticos capturando fotografías. En general se denomina animaciones de stop-motion a las que no entran en la categoría de dibujo animado, esto es, que no fueron dibujadas ni pintadas, sino que fueron creadas tomando imágenes de la realidad.
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/2d/tecnicas/stop-motion.gif" alt="" width="480">
      </div>

      <hr>

      <h2 class="blanco">Pixelación</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
      Es la técnica de animación en la que las personas se convierten en los "objetos" que se animan. A traves de esta tecnica se pueden conseguir que una persona se deslice por el piso sin moverse.
    </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/2d/tecnicas/pixelacion.png" alt="" width="480">
      </div>

      <hr>

      <h2 class="blanco">Folioscopio</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
      Es una técnica de animación primitiva y fascinante. Se trata del arte de ilustrar en un libro o cuaderno una serie de imágenes, que sufren cambios graduales de una a la otra. Es llamada cine de pulgar, pues al dejar correr las páginas rápidamente gracias a dicho dedo, se crea la ilusión de movimiento. John Barnes Linnett fue el primero en patentar un folioscopio en 1868. Posteriormente se empezó a usar como técnica cinematográfica, siendo Max Skladanowsky el primero en estrenar este tipo de film en 1895.
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/2d/tecnicas/filoscopio.gif" alt="" width="480">
      </div>

      <hr>

      <h2 class="blanco">Animación Tradicional</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
      Se trata de la ilustración de cuadros individualmente, que al ser vistos de manera consecutiva, surge la animación. Sus inicios se hallan en dibujos realizados en papel, que luego eran fotografiados. Esto requería ilustrar en cada cuadro la escena entera, incluyendo el fondo, limitando el grado de detalle en la ilustración. Con la aparición del celuloide y luego el acetato, las capas transparentes permitían sectorizar los elementos de la escena. Los personajes podían moverse sobre un fondo fijo, ilustrado una sola vez. La ilustración de cada cuadro se seguía haciendo a mano, sobre papel cebolla.
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/2d/tecnicas/filoscopio.gif" alt="" width="480">
      </div>


    <div style="height:100px;">

    </div>
  </center>

  <div class="bottom" text-align="center">

    <div class="" align="right" style="margin-right:15%;">
      <img id="atras" src="../../resources/imgs/nav/back.png" alt="" width="60">
  <!--          <button class="btn btn-large btn-negative">
        Salir
    </button>
  -->
  </div>

  </div>
