<center>
  <div class="well titulo-top">
    <h1>Animación 2D</h1>
    <input id="titulo" type="text" hidden="hidden" name="" value="2d">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Introducción</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:7%;">
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        El término animación viene del griego "anemos" = viento, aliento y del latín "animus" = dar vida. El concepto de animación se asocia habitualmente con el de movimiento. Podemos definir la animación por ordenador como la "generación, almacenamiento y presentación de imágenes que en sucesión rápida producen sensación de movimiento."

      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img id="imagen" src="../../resources/imgs/2d/teoria.jpg" alt="" width="300">
      </div>

      <hr>
      <h2 class="blanco">Animacion por ordenador</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
      La animación por ordenador permite representar modelos que evolucionan a lo largo del tiempo (no solamente cambian su posición, sino quizá también su tamaño, color, iluminación, textura...).
      </div>


      <div style="height:100px;">

      </div>
    </div>
  </center>
