<center>
  <div class="well titulo-top">
    <h1>Animación 2D</h1>
    <input id="titulo" type="text" hidden="hidden" name="" value="2d">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Videos demostrativos</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:7%;">
      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>La Evolución de la Animación</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/2d/evolution.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>

      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Animatic</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/2d/animatic.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>

      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Animación Clave 2D</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/2d/key-animation.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>



      <div style="height:100px;">

      </div>
    </div>
  </center>
