<center>
  <div class="well titulo-top">
    <h1>Animación 3D</h1>
    <input id="titulo" type="text" hidden="hidden" name="" value="3d">
  </div>
  <div class="well-medium" style="margin-bottom:3%;">
    <h2 id="subtitulo">Crear animación utilizando por modelo de esqueletos</h2>
  </div>

    <!-- Contenido interior-->
    <b class="blanco font-subtitulo"><p>Sofware a utilizar: </p></b><p class="blanco font-subtitulo">Blender</p>

    <div class="" style="margin-left:6%;">
            <h2 class="blanco">1.- Iniciamos digitalizando un bosquejo dibujado a mano como referencia.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/3d/crear/1.png" alt="" width="600">
        </center>
      </div>

      <h2 class="blanco">2.- Modelado del personaje.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/3d/crear/2.png" alt="" width="600">
        </center>
      </div>

      <h2 class="blanco">3.- Se agregan colores y texturas al modelo.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/3d/crear/3.png" alt="" width="600">
          <hr>
          <img id="imagen" src="../../resources/imgs/3d/crear/4.png" alt="" width="600">
        </center>
      </div>

      <h2 class="blanco">4.- Se crean las uniones que tendrá el esqueleto para poder animarlo.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/3d/crear/5.png" alt="" width="600">
          <hr>
          <img id="imagen" src="../../resources/imgs/3d/crear/6.png" alt="" width="600">
        </center>
      </div>

      <h2 class="blanco">5.- El modelo tiene capacidad de movimiento en sus extremidades.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/3d/crear/7.png" alt="" width="600">
          <hr>
          <img id="imagen" src="../../resources/imgs/3d/crear/8.png" alt="" width="600">
          <hr>
          <img id="imagen" src="../../resources/imgs/3d/crear/9.png" alt="" width="600">
        </center>
      </div>

      <h2 class="blanco">6.- Agregar parámetros a las extremidades con una línea de tiempo.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/3d/crear/10.png" alt="" width="600">
          <hr>
          <img id="imagen" src="../../resources/imgs/3d/crear/11.png" alt="" width="600">
        </center>
      </div>

      <h2 class="blanco">7.- Así podemos hacer que el modelo ejemplifique la animación de correr.</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        <center>
          <img id="imagen" src="../../resources/imgs/3d/crear/12.png" alt="" width="600">
        </center>
      </div>

      <hr>
      <center>
        <button id="res_2d" onclick="mostrar()" class="btn btn-default btn-lg" type="button" name="button">Ver resultado</button>
      </center>

      <div style="height:100px;">

      </div>
    </div>
  </center>
