
<center>
<div class="well titulo-top">
  <h1>Animación 3D</h1>
      <input id="titulo" type="text" hidden="hidden" name="" value="3d">
</div>
<div class="well-small" style="margin-bottom:3%;">
  <h2 style="padding-left:3%;" id="subtitulo">Ejemplos demostrativos</h2>
</div></center>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">
            <center>
              <img src="../../resources/imgs/3d/gifs/ant.gif" alt="" width="400">
            </center>

          </div>


          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/3d/gifs/car.gif" alt="" width="400">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/3d/gifs/throw.gif" alt="" width="400">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/3d/gifs/turtle.gif" alt="" width="400">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/3d/gifs/arrow.gif" alt="" width="400">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/3d/gifs/boo.gif" alt="" width="400">
            </center>

          </div>

          <div id="texto-inner" class="round-border background-blanco negro" style="margin-top:3%; margin-left:25%; margin-right:25%; padding:5px;">

            <center>
              <img src="../../resources/imgs/3d/gifs/ghost.gif" alt="" width="400">
            </center>

          </div>


          <div style="height:100px;">

          </div>
