<center>
  <div class="well titulo-top">
    <h1>Animación 3D</h1>
        <input id="titulo" type="text" hidden="hidden" name="" value="3d">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Tecnicas</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:7%;">
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        En la animación tradicional, la combinación de un lapicero y el arte del dibujante, se convierten en una herramienta de gran flexibilidad con la que se pueden lograr movimientos de notable realismo. El ordenador no es una herramienta tan flexible, pero tiene sus ventajas, y puede utilizarse para la creación de animaciones de muy diversas formas. A continuación se describen algunas de las técnicas más comunes.

      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img id="imagen" src="../../resources/imgs/3d/tecnicas.jpg" alt="" width="300">
      </div>

      <hr>

      <h2 class="blanco">Rotoscopia</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
La rotoscopia consiste en capturar un movimiento real, y utilizar esa información para mover un diseño generado por ordenador. La captura de los datos del movimiento real incluye:

      <li>Simplificación del modelo: normalmente, los movimientos reales (por ejemplo, el lanzamiento de un disco en atletismo) son demasiado complejos para intentar capturarlos íntegramente. Hay que identificar las partes fundamentales del movimiento.</li>
      <li>Identificación y marcado de los puntos de referencia. Normalmente son las articulaciones, y se suelen marcar con círculos de tela de un color vivo, pelotas de ping-pong...</li>
      <li>Realización de movimientos y recogida de datos (mediante múltiples cámaras de vídeo, traje de datos...)</li>
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/3d/tecnicas/rotoscopia.jpg" alt="" width="480">
      </div>

      <hr>

      <h2 class="blanco">Modelo de esqueletos</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
        La animación de figuras articuladas en general, y de personajes en particular presenta grandes dificultades. Las primeras aproximaciones se basaban en definir relaciones de parentesco entre objetos y rotar cada una de las partes que formaba la cadena articulada para conseguir el movimiento. Esta aproximación se hace muy compleja con modelos formados por una única malla poligonal o por múltiples objetos.
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/3d/tecnicas/esqueletos.jpg" alt="" width="480">
      </div>

<hr>

      <h2 class="blanco">Animación de recortes</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
      Más conocido en inglés como cutout animation, es la técnica en que se usan figuras recortadas, ya sea de papel o incluso fotografías. Los cuerpos de los personajes se construyen con los recortes de sus partes. Moviendo y reemplazando las partes se obtienen diversas poses, y así se da vida al personaje.
    </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/3d/tecnicas/recortes.jpg" alt="" width="480">
      </div>

<hr>

    <h2 class="blanco">Animación Digital</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
          Se trata de animación realizada en softwares especializados como Flash o ToonBoom. Estos softwares te permiten trabajar cuadro a cuadro, pero también te permiten la generación de poses claves para que luego el software mismo calcule la interpolación. La primera animación para televisión realizada en Flash fue “Ren y Stimpy” en 1997.
        </div>
        <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img style="margin-right:5%;" id="imagen" src="../../resources/imgs/3d/tecnicas/digital.gif" alt="" width="480">
        </div>
    </div>
    <div style="height:100px;">

    </div>
  </center>

  <div class="bottom" text-align="center">

    <div class="" align="right" style="margin-right:15%;">
      <img id="atras" src="../../resources/imgs/nav/back.png" alt="" width="60">
  <!--          <button class="btn btn-large btn-negative">
        Salir
    </button>
  -->
  </div>

  </div>
