<center>
  <div class="well titulo-top">
    <h1>Animación 3D</h1>
    <input id="titulo" type="text" hidden="hidden" name="" value="3d">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Introducción</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:7%;">
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
La animación en 3D es un proceso complejo, porque conlleva la realización previa de otros procesos como el diseño y modelado de la imagen a animar. Consiste en la deformación o movimiento de los objetos de un modelo 3D a lo largo del tiempo. Para que haya animación, esta deformación o movimiento debe variar en algún aspecto respecto al tiempo: cambio de luces y formas, movimiento de objetos y cámaras.
      </div>
      <div class="background-blanco negro img-inner round-border imagen-descriptiva">
        <img id="imagen" src="../../resources/imgs/3d/teoria.gif" alt="" width="300">
      </div>

      <hr>
      <h2 class="blanco">La animación 3D a lo largo de la historia</h2>
      <div id="texto-inner" class=" background-blanco negro div-inner-text round-border">
La animación es muy importante dentro de los gráficos, porque en estas animaciones se intenta imitar a la realidad misma. Algunas experiencias anteriores en el ámbito de la animación 3D son:

  <li>La primera animación 3D: En el año 1972, en la universidad de Utah, Edwin Catmull, actual fundador de Pixar, con la ayuda de sus compañeros Fred Parke y Robert Ingerbretsen crearon una de las primeras animaciones digitales en 3D de la historia. La película fue rodada en formato Super 8, sin sonidos y, en blanco y negro.</li>
  <li>La primera película 3D: Toy Story, primera cinta cinematográfica con efectos de animación en tres dimensiones, generando más de 550 millones de dólares en ganancias producida por Pixar. Después de la adquisición de la empresa por parte de Disney, Edwin Catmull asumió la presidencia de Walt Disney Studios.</li>
</div>


      <div style="height:100px;">

      </div>
    </div>
  </center>
