<center>
  <div class="well titulo-top">
    <h1>Animación 3D</h1>
    <input id="titulo" type="text" hidden="hidden" name="" value="3d">
  </div>
  <div class="well-small" style="margin-bottom:3%;">
    <h2 id="subtitulo">Videos demostrativos</h2>
  </div>

    <!-- Contenido interior-->

    <div class="" style="margin-left:6%;">
      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Festival de Animación</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/3d/animation-showcase.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>

      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Animacion Puntos Clave</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/3d/keyframe-animation.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>

      <div id="texto-inner" class=" background-blanco negro round-border">
        <center>
          <h2>Motion Capture</h2>
        <video controls preload="metadata" style=" width:80%;  height:px;">
	         <source src="../../resources/videos/3d/motion-capture.mp4" type="video/mp4">
	            Your browser does not support the HTML5 video tag.
            </video><br />
        </center>

      </div>


      <div style="height:100px;">

      </div>
    </div>
  </center>
